@{
    ViewData["Title"] = "Home Page";
}
<div class="main-image-panel">
    <img src="~/images/main-panel-image-1.jpg" class="panel-img" />
    <div class="text-group">
        <h1 class="panel-header">Make your dream<br /> <span>comes true</span></h1>
        <a href="#" class="panel-btn btn btn-outline-light"> See All Projects</a>
    </div>
</div>

